/* Table Styling */
table, th, td {
  border: solid 1px;
  padding: 15px;
  border-spacing: 10px;
}

table {
    background-color: #fab95b;
    border-collapse: collapse;

    margin-left: auto;
    margin-right: auto; 
}

th {
    font-size: x-large;
}

td {
    font-size: large;
}

td:nth-child(3) {
    text-align: right;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Form Styling */
#myForm {
    display: flex;
    flex-direction: column;
}

#myField {
    display: flex;
    justify-content: space-evenly;
}

#formButtons {
    display: flex;
    justify-content: space-evenly;
}

/* Button Styling */

#buttonAdd {
    background-color: #1a3263;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    font-weight: bold;

    margin: 20px;

}


.btn_read, .btn_delete {
    padding: 15px 32px;
    font-weight: bolder;

}

.btn_delete {
    color: white;
    background-color: #f16821;
}

.btn_read {
    background-color: #e8e2db;
}

.btn_read:hover {
    background-color: white;
}

.btn_delete:hover {
    background-color: lightcoral;
}